@use '../mixins.scss' as *;

#fleet {
  @include list;

  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  min-height: 3.5rem;

  li {
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    border-radius: 9rem;

    div {
      background-color: var(--l6);
      border: 1px solid var(--bg);
      width: 1.5rem;
      height: 1.5rem;
      transition: background-color 250ms;

      &:first-child {
        border-radius: 50% 0 0 50%;
      }

      &:last-child {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }

    &.sunk div {
      background-color: var(--l2);
    }

    &:not(.sunk):hover div {
      background-color: var(--fg);
    }
  }
}
