@use '../mixins.scss' as *;

#grid {
  background-color: var(--bg);
  border: 1px solid var(--a1_32);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--l2);
  margin: 0 auto;
  padding: 0.5rem;
  width: fit-content;
  min-height: 3.625rem;

  &,
  .row {
    @include flex-center;

    flex-flow: column nowrap;
    gap: max(3px, 0.25rem);
  }

  .row {
    flex-flow: row nowrap;
  }

  .cell {
    @include flex-center;

    cursor: pointer;
    background-color: var(--a1_32);
    border: 1px solid var(--a1_32);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--l1);
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      background-color: var(--l1);
      border-color: var(--a1_8);
    }

    &.cursor {
      outline: 0.125rem solid var(--pri);
      outline-offset: -1px;
      box-shadow: inset 0 0 0.25rem var(--bg);
    }

    &.sunk {
      background-color: var(--sunk-bg);
      color: var(--sunk);

      &.cursor {
        outline-color: var(--sunk);
      }
    }

    &.hit {
      background-color: var(--hit-bg);
      color: var(--hit);

      &:hover {
        border-color: var(--l6);
      }

      &.cursor {
        outline-color: var(--hit);
      }
    }

    &.miss {
      background-color: var(--miss-bg);
      color: var(--miss);

      &.cursor {
        outline-color: var(--miss);
      }
    }

    &.heat {
      background-color: hsl(var(--hue), 100%, calc(var(--lightness) * 1%));

      @media (prefers-color-scheme: dark) {
        background-color: hsl(var(--hue), 100%, calc(100% - var(--lightness) * 1%));
      }

      font-size: 0.8rem;
      line-height: 0.8;
      color: var(--fg);

      &:hover {
        border-color: var(--l6);
      }

      &.cursor {
        outline-color: var(--fg);
      }
    }

    &.hotspot {
      border-width: 2px;
      box-shadow: inset 0 0 0.25rem var(--bg);
      animation: hotspot-blink 2s infinite ease;

      &.cursor {
        outline-offset: 0;
      }
    }

    @keyframes hotspot-blink {
      from,
      to {
        border-color: var(--success);
      }

      50% {
        border-color: var(--error);
      }
    }

    &.single {
      border-radius: 50%;
    }

    &.bow-n {
      border-radius: 50% 50% 0 0;
    }

    &.bow-e {
      border-radius: 0 50% 50% 0;
    }

    &.bow-s {
      border-radius: 0 0 50% 50%;
    }

    &.bow-w {
      border-radius: 50% 0 0 50%;
    }
  }
}

#grid.restart-hotspot-animation .cell.hotspot {
  animation: none;
}

@media print {
  #grid .cell.hotspot {
    border-color: var(--success);
    animation: none;
  }
}
