@use '../mixins.scss' as *;

#grid {
  // @include root;

  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--c24);
  margin: 0 auto;
  padding: 0.5rem;
  width: fit-content;
  min-height: 3.625rem;

  &,
  .row {
    @include flex-center;

    flex-flow: column nowrap;
    gap: max(3px, 0.25rem);
  }

  .row {
    flex-flow: row nowrap;
  }

  .cell {
    @include flex-center;

    cursor: pointer;
    background-color: var(--border);
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    outline-color: var(--pri);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg);
    width: 2.5rem;
    height: 2.5rem;
    transition:
      background-color 125ms,
      border-color 125ms,
      color 125ms;

    &:hover,
    &:focus-visible {
      background-color: var(--c12);
      border-color: var(--c24);
    }

    &.sunk {
      background-color: var(--c72);
      color: var(--bg);
      color: contrast-color(var(--c72));
    }

    &.hit {
      background-color: var(--error);
      color: var(--bg);
      color: contrast-color(var(--error));
    }

    &.miss {
      background-color: #e2f2ff;

      @media (prefers-color-scheme: dark) {
        background-color: #00111f;
      }

      color: var(--pri);
    }

    &.chance {
      --background: hsl(var(--hue), 100%, calc(var(--lightness) * 1%));

      @media (prefers-color-scheme: dark) {
        --background: hsl(var(--hue), 100%, calc(100% - var(--lightness) * 1%));
      }

      background-color: var(--background);
      font-size: 0.8rem;
      line-height: 0.8;
      color: contrast-color(var(--background));
    }

    &.hottest {
      border-width: 2px;
      animation: hottest-blink 1s infinite ease-in-out;
    }

    @keyframes hottest-blink {
      from,
      to {
        border-color: var(--success);
      }

      50% {
        border-color: var(--border);
      }
    }

    &.cursor {
      outline: 0.125rem solid var(--pri);
      outline-offset: -1px;

      &.hit,
      &.chance {
        outline-color: var(--fg);
      }

      &.hottest {
        outline-color: var(--success);
      }
    }

    &.single {
      border-radius: 50%;
    }

    &.bow-n {
      border-radius: 50% 50% 0 0;
    }

    &.bow-e {
      border-radius: 0 50% 50% 0;
    }

    &.bow-s {
      border-radius: 0 0 50% 50%;
    }

    &.bow-w {
      border-radius: 50% 0 0 50%;
    }
  }
}
