*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

p,
span {
  max-width: 40em;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:disabled {
  cursor: initial;
}

label {
  font-weight: bold;
}

img {
  vertical-align: top;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
