@use 'mixins.scss' as *;

@use 'helper/fancyLink.scss';

@use 'main/main.scss';
@use 'main/fleet.scss';
@use 'main/grid.scss';

@use 'credits.scss';

:root {
  --black: hsl(var(--hue), 20%, 8%);
  --white: hsl(var(--hue), 20%, 96%);
  --success: #3f3;
  --error: #f33;

  --bg: var(--white);
  --fg: var(--black);

  --hue: 210;
  --pri: hsl(var(--hue), 100%, 62%);
  --pri-bg: #e2f2ff;

  --sunk: var(--error);
  --sunk-bg: #ffe2f2;
  --hit: var(--fg);
  --hit-bg: hsl(var(--hue), 100%, 50%);
  --miss: var(--pri);
  --miss-bg: var(--pri-bg);

  --l0: #fff;
  --l1: hsl(var(--hue), 20%, 87.5%);
  --l2: hsl(var(--hue), 20%, 75%);
  --l4: hsl(var(--hue), 20%, 50%);
  --l6: hsl(var(--hue), 20%, 25%);

  --a1_32: #00000008;
  --a1_8: #00000020;

  @media (prefers-color-scheme: dark) {
    --bg: var(--black);
    --fg: var(--white);

    --pri-bg: #00111f;

    --sunk-bg: #1f1100;
    --miss-bg: var(--pri-bg);

    --l0: #000;
    --l1: hsl(var(--hue), 20%, 12.5%);
    --l2: hsl(var(--hue), 20%, 25%);
    --l4: hsl(var(--hue), 20%, 50%);
    --l6: hsl(var(--hue), 20%, 75%);

    --a1_32: #ffffff08;
    --a1_8: #ffffff20;
  }

  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 16px;
  color: var(--fg);
  min-height: 100dvh;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100dvh;
}

main {
  flex: 1;
  margin-inline: auto;
  width: 100%;
  max-width: 60em;
}

footer {
  border-top: 1px solid var(--l1);
  padding: 2rem;

  p {
    text-align: center;
    color: var(--l6);
    margin: 0 auto;
  }
}

a {
  color: var(--pri);
}
