@use 'mixins.scss' as *;

@use 'helper/fancyLink.scss';

@use 'main/main.scss';
@use 'main/fleet.scss';
@use 'main/grid.scss';

@use 'credits.scss';

:root {
  --black: hsl(var(--hue), 20%, 8%);
  --white: hsl(var(--hue), 20%, 96%);
  --success: #3f3;
  --error: #f33;

  --bg: var(--white);
  --fg: var(--black);

  --hue: 210;
  --pri: hsl(var(--hue), 100%, 62%);
  --pri-bg: #e2f2ff;

  --sunk: var(--error);
  --sunk-bg: #ffe2f2;
  --hit: var(--fg);
  --hit-bg: hsl(var(--hue), 100%, 50%);
  --miss: var(--pri);
  --miss-bg: var(--pri-bg);

  --c0: #fff;
  --c12: hsl(var(--hue), 20%, 88%);
  --c24: hsl(var(--hue), 20%, 76%);
  --c48: hsl(var(--hue), 20%, 52%);
  --c72: hsl(var(--hue), 20%, 28%);

  --border: #00000008;

  @media (prefers-color-scheme: dark) {
    --bg: var(--black);
    --fg: var(--white);

    --pri-bg: #00111f;

    --sunk-bg: #1f1100;
    --hit-bg: hsl(var(--hue), 100%, 47%);
    --miss-bg: var(--pri-bg);

    --c0: #000;
    --c12: hsl(var(--hue), 20%, 12%);
    --c24: hsl(var(--hue), 20%, 24%);
    --c48: hsl(var(--hue), 20%, 48%);
    --c72: hsl(var(--hue), 20%, 72%);

    --border: #ffffff08;
  }

  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 16px;
  color: var(--fg);
  min-height: 100dvh;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100dvh;
}

main {
  flex: 1;
  margin-inline: auto;
  width: 100%;
  max-width: 60em;
}

footer {
  border-top: 1px solid var(--c12);
  padding: 2rem;

  p {
    text-align: center;
    color: var(--c72);
    margin: 0 auto;
  }
}

a {
  color: var(--pri);
}
