@use 'mixins.scss' as *;

@use 'helper/fancyLink.scss';

@use 'main/main.scss';
@use 'main/fleet.scss';
@use 'main/grid.scss';

@use 'credits.scss';

:root {
  @include root;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--black);
    --fg: var(--white);

    --c0: #000;
    --c12: hsl(var(--hue), 20%, 12%);
    --c24: hsl(var(--hue), 20%, 24%);
    --c48: hsl(var(--hue), 20%, 48%);
    --c72: hsl(var(--hue), 20%, 72%);

    --border: #ffffff08;
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 16px;
  color: var(--fg);
  min-height: 100dvh;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100dvh;
}

main {
  flex: 1;
  margin-inline: auto;
  width: 100%;
  max-width: 60em;
}

footer {
  border-top: 1px solid var(--c12);
  padding: 2rem;

  p {
    text-align: center;
    color: var(--c72);
    margin: 0 auto;
  }
}

a {
  color: var(--pri);
}
